<%= form_with model: question do |form| %>
  <p><%= form.label :body, "Текст вопроса" %></p>
  <p><%= form.text_area :body, rows: 5, class: "form-text-area" %></p>
  <p class="mt"><%= form.label :user_id %></p>
  <p><%= form.text_field :user_id, class: "form-text-field"%></p>
  <p class="mt"><%= form.submit "Сохранить", class: "button button-main"%></p>
<% end %>