<div class="container">
  <h2 class="title-lg mb">Редактирование вопроса <%= @question.id %></h2>
  
<!-- когда отправляем в form_with уже существующий вопрос, 
он понимает, что нужно слать запрос PATCH вместо POST и путь должен
быть не /questions, а /questions/id -->

  <%= render 'form', question: @question %>
</div>