<div class="container">
  <p class="mt">
    <%= link_to "Создать новый вопрос", new_question_path, class: "button button-main" %>
  </p>
  <p class ="mt">
    <%= render "form", question: @question %>
  </p>
</div>

<div class="container mt-sm">
  <h2 class="title-lg">
    <%= @questions.count %>
    <%= inclinator(@questions.count, "вопрос", "вопроса", "вопросов") %>
  </h2>
</div>

<% @questions.each do |question| %>
  <!-- <p><%= link_to "Вопрос #{question.id}", "/questions/#{question.id}" %>  -->
  <!-- <p class="mb-sm"><%= link_to "Вопрос #{question.id}", question_path(id: question.id) %> -->
  <div class="mt-sm container">  
    <%= render question %>
  </div>
<% end %>