<div class="container">
  <h2 class="title-lg">Новый вопрос</h2>
  <!--
  <form action="/questions" method="POST">
    <p><label for="question[body]">Текст вопроса</label></p>
    <p><textarea name="question[body]" rows=5></textarea></p>
    <p><label for="question[user_id]">User id</label></p>
    <p><input type="number" name="question[user_id]"></p>
    <input type="submit" value="Создать"></p>
  </form>
  -->
  <%= render 'form', question: @question %>
</div>