<div class="container">
  <h2 class="title-lg mb">Вопрос <%= @question.id %></h2>
  
  <!-- <%= render "question", question: @question %> -->
  <%= render @question %>

  <p class="mt"><%= link_to "Все вопросы", questions_path %></p>
</div>