<div class="container">
  <h2 class="title">Вход</h2>

  <p class="mt">Введите свои email и пароль для входа на сайт</p>

  <div class="mt">
    <%= form_with scope: :session, url: session_path,
      data: {turbo: false} do |form|%>
        <p><%= form.label :email %></p>
        <p><%= form.text_field :email, class: "form-text-field" %></p>
        
        <p class="mt"><%= form.label :password %></p>
        <p><%= form.password_field :password, class: "form-text-field" %></p>

        <p class="mt-lg"><%= form.submit "Войти", class: "button button-main" %></p>
    <% end %>
  </div>
</div>
