<div class="container">
  <h2 class="title">Присоединяйся и спрашивай!</h2>

  <div class="mt">
    <%= form_with model: @user do |form| %>
      <p><%= form.label :name, "Ваше имя" %></p>
      <p><%= form.text_field :name, class: "form-text-field" %></p>

      <p class="mt"><%= form.label :nickname, "Ник на сайте" %></p>
      <p><%= form.text_field :nickname, class: "form-text-field" %></p>

      <p class="mt"><%= form.label :email %></p>
      <p><%= form.text_field :email, class: "form-text-field" %></p>

      <p class="mt"><%= form.label :password, "Пароль" %></p>
      <p><%= form.password_field :password, class: "form-text-field" %></p>

      <p class="mt-lg"><%= form.submit "Зарегистрироваться",
        class: "button button-main" %></p>
    <% end %>
  </div>
</div>
