body {
  color: #1B0322;
  font-family: 'Trebuchet MS', sans-serif;
}

a, button {
  color: #9F0909;
}

.title-lg {
  font-size: 175%;
}

.title-md, .title {
  font-size: 150%;
}

.title-sm {
  font-size: 125%;
}

.text-sm {
  font-size: 80%;
}

.text-grey {
  color: #a0a0a0;
}

.text-bold {
  font-weight: bold;
}