<!DOCTYPE html>
<html>
  <head>
    <title>Askme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
      <div class="navbar">
        <p class="title-sm text-bold"><%= link_to "Ask me!", root_path %></p>
        <div>
          <% if current_user.present? %>
           <%= content_tag 'span', "@#{current_user.nickname}", class: "mr-sm" %>
           <%= button_to "Выйти", session_path, method: :delete %>
          <% else %>
            <%= link_to "Регистрация", new_user_path, class: "button button-yellow mr-sm" %>
            <%= link_to "Вход", new_session_path, class: "button button-yellow" %>
          <% end %>
        </div>
      </div>
      
      <% if flash[:notice].present? %>
        <p class="mb mt message message-notice"><%= flash[:notice]%></p>
      <% elsif flash[:alert].present? %>
        <p class="mb mt message message-alert"><%= flash[:alert]%></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
